*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $bg-principal;
    color: $color-text-nav;

}

    .menu-box{
        position:fixed;
        background-color: $bg-principal;
        width: 100%;
        height: auto;
        top: 0px;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 2;
    
        .menu-div{
            justify-content: end;
            padding-right: nth($padding-size , 1 );

    
            .navbar-modi{
                color: $color-text-nav;
                display: flex;
                text-decoration: none;
                list-style: none;
                justify-content: space-around;
                font-family: 'Abril Fatface';
                font-size: nth($font-size , 3 );
    
    
                .menu-li a{
                    
                    padding: nth($padding-size, 1 );
                    &:hover{
                        color: $hover-text-nav;
                    }
                    
                }


    
    
    
            }
        }
    }

.video-portada{
    position: absolute;
    max-height:max-content;
    z-index:-1;
}

.tablaContenido{
    font-family: 'Bitter', serif;
    font-size: nth($font-size , 6);
}

.orden-fianl{
    color:white;
    background-color: black;
    padding: nth($padding-size, 1);
    &:hover{
        color:$bg-principal;
        background-color:white ;
    }
}


.sa-custum{

 h2{
    background-color: white;
    font-family: 'Abril Fatface';
    font-size: nth($font-size , 3 );
    color:$bg-principal
}
}

.sa-icon {
    p {
    background-color: white;
    font-family: 'Bitter', serif;
    font-size: nth($font-size , 6);
    color:$bg-principal
}
}

.sa-button-container,.sa-confirm-button-container {
    background-color: white;
}

fieldset{
    background-color: white;
}

.confirm{
    color:white;
    background-color: black;
    padding: nth($padding-size, 1);
    &:hover{
        color:$bg-principal;
        background-color:white ;
    }
}
